@import '../../../../styles/colors.scss';

.dia-da-semana-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;

    .dia-da-semana {
        font-size: 16px;
        font-family: 'Short Stack'; 
        min-height: 40px;
        display: flex;
        align-items: center;
    }

    .registros-container {
        padding: 0px 0px 10px 20px;
        display: flex;

        .registro-descricao {
            color: $type-gray;
            font-family: "Noto Sans";
            font-size: 14px;

            &:hover {
                color: $primary;
            }
        }

        .registro-icone {
            color: $type-gray;
            height: 100%;
            width: 20px;
            min-width: 20px;
            margin-right: 5px;
            margin-top: 1px;

            .icone-selecionavel {
                cursor: pointer;
                
                &:hover {
                    color: $primary;
                }

                &:active {
                    color: $primary-active;
                }
            }
        }
    }

    .icone-container {
        color: $type-gray;
        padding-left: 20px;

        i {
            color: $icon-background;

            &:hover {
                color: $primary;
            }
        }

        &:hover {
            color: $primary;
        }
    }

    &:hover {
        background-color: $hover-gray;
        color:  $primary;
    }
}

