<div class="dia-da-semana-container"> 
    <div class="dia-da-semana">
        {{dia.dia}}.{{dia.mes + 1}}.{{dia.ano}} {{dia.diaDaSemana}}
    </div>

    <ng-container *ngFor="let registro of dia.registros">
        <registro [registro]="registro"
            [ultimoDia]="ultimoDia">
        </registro>
    </ng-container>

    <div *ngIf="!adicionandoRegistro && !editandoNovoRegistro" (click)="iniciarAdicionarRegistro()" class="botao-primario">
        <i class="fas fa-plus"></i>
        <span>Novo registro</span>
    </div>

    <div class="tipos-container" *ngIf="adicionandoRegistro">
        <div (click)="iniciarEdicaoNovoRegistro('Tarefa')" class="botao-primario">
            <i class="far fa-check-circle"></i>
            <span>Tarefa</span>
        </div>
        <div (click)="iniciarEdicaoNovoRegistro('Nota')" class="botao-primario">
            <i class="far fa-bookmark"></i>
            <span>Nota</span>
        </div>
        <div (click)="iniciarEdicaoNovoRegistro('Evento')" class="botao-primario">
            <i class="far fa-calendar"></i>
            <span>Evento</span>
        </div>
    </div>
    <ng-container *ngIf="editandoNovoRegistro">
        <registro [registro]="novoRegistro"
            [editando]="true"
            [criandoNovo]="true"
            [ultimoDia]="ultimoDia"
            (completouNovoRegistro)="concluirNovoRegistro($event, true)"
            (cancelouNovoRegistro)="concluirNovoRegistro(null, false)">
        </registro>
    </ng-container>
</div>