.core-element {
    height: 100vh;
    transition: padding-left 0.4s;
    background-color: #F3F7FD;
}

.menu-open {
    padding-left: 190px;
}

.menu-closed {
    padding-left: 50px;
}

.app-body {
    height: calc(100vh - 80px);
    overflow: auto;
    margin: 10px 5px 10px 0px;
    padding: 5px 15px;

    .app-body-card {
        border-radius: 5px;
        overflow: hidden;
    }
}