@import '../../../../../styles/colors.scss';

.dia-da-semana-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 10px;
    background-color: #fff;

    .dia-da-semana {
        font-size: 16px;
        font-family: 'Short Stack'; 
        min-height: 40px;
        display: flex;
        align-items: center;
    }

    .adicionar-button {
        color: $type-gray;
        background-color: $white;
        margin-left: 20px;
        padding: 8px 5px;
        border-radius: 5px;
        width: 140px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: "Noto Sans";
        border: 1px solid $border-gray;
        cursor: pointer;
        margin-top: 5px;

        i {
            color: $icon-background;
            font-size: 12px;
            margin-right: 6px;
        }

        span {
            font-size: 12px;
            line-height: 12px;
        }

        &:hover {
            color: $primary;
            background-color: $light-blue;
            border: 1px solid transparent;

            i {
                color: $primary;
            }
        }
    }

    &:hover {
        // background-color: #ecf0f7;
        color:  $primary;
        box-shadow:  0px 0px 5px $primary;
    }
}

.slider-container {
    display: flex;
    height: 30px;
    width: 210px;
    background-color: $selector-gray;
    border-radius: 5px;
    align-items: center;
    margin-bottom: 10px;
    overflow: hidden;

    .slider-info {
        min-width: 40px;
        flex-grow: 1;
        font-family: 'Short Stack'; 
        display: flex;
        justify-content: center;
    }
    
    .button-container {
        font-size: 12px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 26px;       
        height: 100%;
        cursor: pointer;
        color: $type-gray;

        &:first-child {
            border-right: 1px solid;
        }

        &:last-child {
            border-left: 1px solid;
        }

        &:hover {
            background-color: $border-gray;
        }
    }
}