$primary: #0084FF;
$primary-active: rgb(6, 113, 212);
$light-blue: #E5F2FF;

$hover-gray: #F3F4F8;
$type-gray: #A3A6B2;
$icon-background: #BFC5D5;
$border-gray: #cdcfd6;

$selector-gray: #e6e9f1;

$white: #fff;