<div class="registros-container">
    <div class="registro-icone">
        <i *ngIf="registro.tipo == 'Tarefa' && !registro.tarefaCompleta" 
            (click)="alterarTarefaCompleta()"
            class="icone-selecionavel far fa-circle">
        </i>
        <i *ngIf="registro.tipo == 'Tarefa' && registro.tarefaCompleta" 
            (click)="alterarTarefaCompleta()"
            class="icone-selecionavel far fa-check-circle">
        </i>
        <i *ngIf="registro.tipo == 'Evento'" class="far fa-calendar"></i>
        <i *ngIf="registro.tipo == 'Nota'" class="far fa-bookmark"></i>
    </div>

    <div (click)="editarDescricao()" *ngIf="!editando" class="registro-descricao">
        {{registro.descricao}}
    </div>

    <input *ngIf="editando" 
        (keyup.enter)="salvarEdicao()"
        class="registro-descricao-input"
        [(ngModel)]="novaDescricao">

    <div class="registro-icones-confirmacao" *ngIf="editando">
        <i (click)="salvarEdicao()" class="icone-confirmacao far fa-check-circle"></i>
        <i (click)="cancelarEdicao()" class="icone-cancelar far fa-times-circle"></i>
    </div>
</div>