@import '../../../../styles/colors.scss';


.category-color-item {
    display: flex;
    flex-direction: row;
    height: 30px;
    align-items: center;
    justify-content: flex-start;

    .color-circle {
        height: 10px;
        width: 10px;
        min-width: 10px;
        margin: 10px;
        border-radius: 50%;
    }

    .color-category {
        // flex-grow: 1;
        font-size: 12px;
        line-height: 18px;
        color: $type-gray;
        font-family: "Noto Sans";
        border-bottom: 1px solid transparent;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        &:hover {
            border-bottom: 1px solid $type-gray;
            cursor: pointer;
        }
    }

    .registro-descricao-input {
        flex-grow: 1;
        margin-right: 10px;
        border: 0;
        border-bottom: 1px solid $primary;
        color: $type-gray;
        font-family: "Noto Sans";
        font-size: 12px;
        outline: none;
        width: 50px;
    }

    .registro-icones-confirmacao {
        color: $type-gray;
        display: flex;
        font-size: 12px;

        i:first-child {
            margin-right: 6px;
        }

        .icone-confirmacao:hover {
            color: #00CA00;
        }

        .icone-cancelar:hover {
            color: #FF8A89;
        }
    }
}