<div class="lateral-menu"
  [class.menu-open]="isMenuOpen"
  [class.menu-closed]="!isMenuOpen">

    <div class="ajournal-logo-container">
      <img class="ajournal-logo" 
        (click)="toggleMenu()"
        src="https://i.imgur.com/DATsyPP.png">
      <span class="ajournal-name block-selection" [class.fade]="!isMenuOpen">A' Journal</span>
    </div>

    <div class="product-container">
      <img class="product-icon"
        src="https://image.flaticon.com/icons/png/512/42/42446.png">
      <span class="product-name block-selection" [class.fade]="!isMenuOpen">Login</span>    
    </div>

    <div class="product-container">
      <img class="product-icon"
        src="https://image.flaticon.com/icons/png/512/42/42446.png">
      <span class="product-name block-selection" [class.fade]="!isMenuOpen">User</span>    
    </div>
    
    <div class="product-container">
      <img class="product-icon"
        src="https://image.flaticon.com/icons/png/512/42/42446.png">
      <span class="product-name block-selection" [class.fade]="!isMenuOpen">Daily</span>    
    </div>

</div>

