<div class="lateral-menu"
    [class.menu-open]="isMenuOpen"
    [class.menu-closed]="!isMenuOpen">

    <div>
        <div class="ajournal-logo-container">
            <img class="ajournal-logo" 
                (click)="toggleMenu()"
                src="https://i.imgur.com/DATsyPP.png">
            <span class="ajournal-name block-selection" [class.fade]="!isMenuOpen">A' Journal</span>
        </div>
    
        <ng-container *ngIf="_loginService.loggedIn">
            <div class="product-container">
                <img class="product-icon"
                    src="https://image.flaticon.com/icons/png/512/42/42446.png" routerLink="/login">
                <span class="product-name block-selection" [class.fade]="!isMenuOpen" routerLink="/login">Login</span>    
            </div>
        
            <div class="product-container">
                <img class="product-icon"
                    src="https://image.flaticon.com/icons/png/512/42/42446.png" routerLink="/register">
                <span class="product-name block-selection" [class.fade]="!isMenuOpen" routerLink="/register">User</span>    
            </div>
            
            <div class="product-container">
                <img class="product-icon"
                    src="https://image.flaticon.com/icons/png/512/42/42446.png" routerLink="/daily">
                <span class="product-name block-selection" [class.fade]="!isMenuOpen" routerLink="/daily">Daily</span>    
            </div>
        </ng-container>        
    </div>
    
    <div *ngIf="_loginService.loggedIn">
        <category-colors [isOpen]="isMenuOpen">
        </category-colors>
    </div>
</div>